/* Reset Heading Sizes */
h1{
  font-size:2rem;
}
h2{
  font-size:1.5rem;
}
h3{
  font-size:1.17rem;
}
h4{
  font-size:1rem;
}
h5{
  font-size:.83rem;
}
h6{
  font-size:.67rem;
}
/* /Reset Heading Sizes */

table{
  width:100%;
}

ul.menu{
  list-style-type:none;
}

.links.inline {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.links.inline > li{
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}

.links.inline > li>* {
display: block;
}

::selection{
  color:white;
  background:rgba(10, 10, 10, 0.85);
}

::-moz-selection{
  color:white;
  background:rgba(10, 10, 10, 0.85);
}

.posted {
  font-size: .8rem;
  margin-bottom: 1rem;
  margin-top: -.5rem;
}

.node .image,
.node .field{
  margin-bottom:1rem;
}

.field-type-datetime{
	font-size:.8rem;
}
.field-type-datetime .date-display-start,
.field-type-datetime .date-display-end{
 font-size:1.3rem;
}

/* Top Bar */

  /*
  .top-bar-section .has-dropdown > a:after{
    border-left-color: rgba(0, 0, 0, 0.4);
  }*/

.top-bar.expanded .title-area,
.top-bar .name h1,
.top-bar .name h1 a,
.top-bar .toggle-topbar.menu-icon a,
.top-bar-section,
.top-bar-section ul,
.top-bar-section .dropdown,
.top-bar-section .dropdown li.title h5 a,
.top-bar-section li:not(.has-form),
.top-bar-section li:not(.has-form) a:not(.button){
  color:inherit;
  background-color:inherit;
}

.top-bar .toggle-topbar.menu-icon a::after{
  -webkit-box-shadow: 0 10px 0 1px, 0 16px 0 1px, 0 22px 0 1px;
  box-shadow: 0 10px 0 1px, 0 16px 0 1px, 0 22px 0 1px;
}
.top-bar.expanded .toggle-topbar a span{
  -webkit-box-shadow:none;
  box-shadow:none;
}

.top-bar .name{
  height:auto;
  margin-bottom:1rem;
}
.contain-to-grid{
  color: #ffffff;
  border-bottom-width:3px;
  border-bottom-style:solid;
}
.contain-to-grid .top-bar {
  color:inherit;
  background-color:inherit;
}
/* /Top Bar */

/* Top Bar Easy Overrides

.contain-to-grid{
  color:#xxxxxx;
  background-color:#xxxxxx;
  border-bottom-color:#xxxxxx;
}

.top-bar-section .dropdown{
  background-color: #xxxxxx;
}

.top-bar .name h1 a{
  background-color: #xxxxxx;
  color: #xxxxxx;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  color:#xxxxxx;
  background-color: #xxxxxx;
}

/* /Top Bar Easy Overrides */

/* Main Area Clear Name */
.l-main{
  clear:both;
}
/* /Main Area Clear Name */

aside.sidebar{
  background-color:#E4E4E4;
}

.block-search{
  margin-top:1rem;
}

@media only screen and (min-width: 40.063em){ /* Medium Up */

/* Site Name */

  .top-bar .name h1 a{
    line-height: 1.3;
    padding: 1rem;
    width: 8rem;
    font-weight:bold;
  }

/* /Site Name */

/* Top Bar Dropdown Arrows */
.top-bar-section .has-dropdown > a:after{
    border-top-color: rgba(0, 0, 0, 0.4);
    border-left-color:transparent;
  }

/* /Top Bar Dropdown Arrows */

} /* /Medium Up */
